.img:hover {
  width: 100px;
  background-color: red;
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px black;
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 10px #04242c ;
}